#main{
	hr {
		max-width: 100%;
	}
	
	.profile-header {
		background-color: #F4FAFF;
		text-align: center;
    	padding: 10px 0 10px 0;
    	margin-bottom: 20px;
   	}

   	.profile-navbar {
   		background-color: #F4FAFF;
   		padding: 10px 0;
   	}

   	.photo-upload-btn {
   		margin-bottom: 10px;
   	}

   	#photo-uploads {
   		margin-top: 20px;
   	}


   	// in photo.html
   	.panel-default {
   		.panel-heading {
   			background-color: #F4FAFF;
   		}
   	}

   	// in admin-order.html
   	.admin-order-photo {
   		padding: 10px 0;
   		width: 300px;
   		height: auto;
   	}
}