#main{
	section {
		padding: 25px 0;
	}

	.profile-header {
		text-align: center;
    	padding: 60px 0 10px 0;

    	h1 {
    		margin-top: 0px;
    		margin-bottom: 5px;
    		color: @po-blue;
    		font-size: 50px;
    		height: 50px;
    	}

    	h2 {
    		color: @po-coral;
    		font-size: 35px;
    		margin: 5px 0 0 0;
    		display: inline-block;

    		border-color: @po-coral;
    		border-top: 1px solid;
    		border-bottom: 1px solid;
    	}

    	.profile-header-icon {
    		margin: 10px 0;
    		color: @po-blue;
    		font-size: 95px;
    	}
   	}

   	.btn-circle {
		width: 100px;
		height: 100px;
		text-align: center;
		padding: 6px;
		font-size: 50px;
		line-height: 1.42;
		border-radius: 50%;
		background-color: transparent;
		border: 2px solid @po-blue;

		&:hover,
		&:active,
		&:target {
			background-color: @po-blue;
			color: @po-yellow;
		}
		&:focus {
			outline: none;
		}
	}

	.button-description {
		text-align: center;
		border-radius: 10px;
		background-color: @po-blue;
		display: inline-block;
		padding: 5px;
		margin: 10px 0;
	}
}