<template name="home">
    <header id="pageTop">
        <div class="header-content">
            <div class="header-content-inner">
                <h1>Po Paraguay</h1>
                <hr>
                <p>Crear Mano - Una Mano Para Todo - Podemos Junto</p>
                <a href="#crearUnaMano" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
            </div>
        </div>
    </header>

    <section class="bg-primary" id="crearUnaMano">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Iniciar Sesion</h2>
                    <hr class="light">
                    <p class="text-faded">Iniciar con Facebook muy facilmente o crear tu propia cuenta. Es muy facil crear una mano.</p>
                    <button type="button" class="btn btn-default btn-lg myBtn">Login Here</button>
                </div>
            </div>

            {{> signIn}}
            {{> signUp}}
        </div>
    </section>

    <section id="facil">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Crear Una Mano Es Facil</h2>
                    <hr class="primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-info wow bounceIn text-primary"></i>
                        <h3>Datos de Pedido</h3>
                        <p class="text-muted">Solo necesitas dar informacion de delivery.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-camera wow bounceIn text-primary" data-wow-delay=".1s"></i>
                        <h3>Subir Fotos</h3>
                        <p class="text-muted">Rapido y Facil con nueva tecnologia.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-hand-peace-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                        <h3>Personilizar</h3>
                        <p class="text-muted">Escoga entre algunos diez de colores.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-check wow bounceIn text-primary" data-wow-delay=".3s"></i>
                        <h3>Completir el Pedido</h3>
                        <p class="text-muted">Pagar con tarjeta, dinero tigo o efectiva</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="bg-primary" id="queHacemos">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Que Hacemos?</h2>
                    <hr class="light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <p>Somos una organización sin fines de lucro que tiene como principal objetivo cambiar la vida de las personas a través de la tecnología.
                    En Po, utilizamos la tecnología de impresión 3D para hacer prótesis de alta calidad, a un muy bajo costo.</p>
                </div>
                <div class="col-lg-6">
                    <p>Buscamos revolucionar la experiencia de adquirir una protesis. Queremos que sea tan emocionante como comprar un zapato, que vaya contigo, con tus gustos, con tus actividades. Te damos el poder de que seas el arquitecto de tu propia identidad.

                    En Po no damos una extension del cuerpo, sino una extension de tu persona.</p>
                </div>
            </div>
        </div>
    </section>


<!-- Team Members Row -->
    <section id="testimonios">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Testimonios</h2>
                    <hr class="primary">
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 po-user-example">
                    <img class="img-circle img-responsive img-center" src="/portfolio/elias.png" alt="">
                    <h3>Elias
                        <small>Homie</small>
                    </h3>
                    <p>A la manhana es lo primero que me pongo, y a la noche lo último que me quito. Eso es mi Po.</p>
                </div>
                <div class="col-md-4 po-user-example">
                    <img class="img-circle img-responsive img-center" src="/portfolio/lalyz.png" alt="">
                    <h3>Lalyz
                        <small>Adorable</small>
                    </h3>
                    <p>Mi Po combina con la nueva bota que me compre. Además, soy la más linda andando en bici con mi Po.</p>
                </div>
                <div class="col-md-4 po-user-example">
                    <img class="img-circle img-responsive img-center" src="/portfolio/franco.png" alt="">
                    <h3>Jorge
                        <small>NEED PHOTO OF JORGE</small>
                    </h3>
                    <p>Antes tenía que conformarme con lo que tenía. Hoy en día puedo crearme a mí mismo.</p>
                </div>
            </div>
        </div>
    </section>



    <aside class="bg-dark">
        <div class="container text-center">
            <div class="call-to-action">
                <h2><i class="fa fa-clock-o wow bounceIn" data-wow-delay=".2s"></i> Tiene 5 minutes?</h2>
                <p>Sabías que podés crear una mano para vos o para otra persona? Sólo te va a tomar 5 minutos y probar es totalmente gratuito.</p>
                <button type="button" class="btn btn-default btn-xl wow tada myBtn">Crear Mano!</button>
            </div>
        </div>
    </aside>

    <section id="quienesSomos">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Contactenos!</h2>
                    <hr class="primary">
                    <p>Bienvenidos a la familia de Po Paraguay. Alguna pregunta a deuda? Llamenos. Quiere presentarse? Llamenos. Podemos juntos.</p>
                </div>
                <div class="col-lg-4 col-lg-offset-2 text-center">
                    <i class="fa fa-phone fa-3x wow bounceIn"></i>
                    <p>0203384314</p>
                </div>
                <div class="col-lg-4 text-center">
                    <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p><a href="mailto:your-email@your-domain.com">quiero@po.com.py</a></p>
                </div>
            </div>
        </div>
    </section>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll hidden-md hidden-lg">
        <a class="btn btn-primary" href="#pageTop">
            UP
            <!--<i class="fa fa-chevron-up"></i>-->
        </a>
    </div>

</template>
