<template name="signIn">


    <!-- Modal -->
    <div class="modal" id="signin-modal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header" style="padding:35px 50px;">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4><i class="fa fa-lock"></i> Sign In</h4>
                </div>

                <div class="modal-body" style="padding:40px 50px;">
                	<a class="btn btn-block btn-social btn-facebook" id="facebook-signin">
                		<i class="fa fa-facebook"></i> Sign in with Facebook
                	</a>
                	<div class="option-divider">or</div>

                        <!-- begin #sign-in-form -->
                        <form role="form" id="signin-form" method="post" onsubmit="window.location.assign('#close')">
                            <div class="form-group">
                                <label for="usrname"><i class="fa fa-user"></i> Username</label>
                                <input type="text" class="form-control" id="signin-email" name="email" placeholder="Email Address">
                            </div>
                            <div class="form-group">
                                <label for="psw"><i class="fa fa-eye"></i> Password</label>
                                <input type="password" class="form-control" name="password" id="signin-password" placeholder="Password">
                            </div>
                            <button type="submit" class="btn btn-success btn-block"><i class="fa fa-power-off"></i> Sign In</button>
                        </form>
                </div>
                
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger pull-left" data-dismiss="modal"><i class="fa fa-times"></i> Cancel</button>
                    <p>Not a member? <a id="signup-button" data-dismiss="modal" data-toggle="modal" href="#">Sign Up</a></p>
                </div>
            </div>

        </div>
    </div> 
</template>