// in components
// styles for reusable components

/* orange #f05f40 
 * orange eb3812 hover */

.modal {
  .modal-header, h4, .close {
    /*background-color: #5cb85c;*/
    background-color: #00a8e1;
    color:white !important;
    text-align: center;
    font-size: 30px;
  }

  .btn-facebook {
    border-radius: 5px;
  }

  .btn-facebook:hover{
    color: #f9f9f9;
  }

  .option-divider {
    text-align: center;
    margin: 16px 0;
    font-size: 20px;
    font-style: italic;
  }

  .modal-body{
    color: #000;
  }

  .modal-footer {
    background-color: #f9f9f9;
    color: #000;
  }

}

.center {
   float: none;
   margin-left: auto;
   margin-right: auto;
}

.link {
  cursor: hand;
  cursor: pointer;
}

input.form-input {
  background-color: transparent;
  color: #000;
}
textarea.form-input {
  background-color: transparent;
  color: #000;
}

.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

.bg-blue {
  background-color: @po-blue;
}
.bg-orange {
  background-color: @po-orange;
}
.bg-coral {
  background-color: @po-coral;
}
.bg-pink {
  background-color: @po-pink;
}
.bg-green {
  background-color: @po-green;
}
.bg-yellow {
  background-color: @po-yellow;
  color: #fff;
}

.hide-remove {
  display: none;
}

.hide-remain {
  visibility: hidden;
}


/* COSTUMIZE FILE UPLOAD BUTTON
-----------------------------------------------------
http://stackoverflow.com/questions/11235206/twitter-bootstrap-form-file-element-upload-button 
*/



/* COSTUMIZE FILE UPLOAD BUTTON
-----------------------------------------------------
http://geniuscarrier.com/how-to-style-a-html-file-upload-button-in-pure-css/
*/


.fileUpload {
    position: relative;
    overflow: hidden;
}
.fileUpload input#upload-photo {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

