<template name="checkout">
	<section class="profile-header" id="checkout-header">
		<div class="container">
			<div class="row">
				<div class="col-xs-3">
					<i class="fa fa-check profile-header-icon"></i>
				</div>
				<div class="col-xs-8 col-xs-offset-1">
					<h1 class="paso-4">PASO 4</h1>
					<h2 class="datos-checkout">Checkout</h2>
				</div>
			</div>
		</div>
	</section>

	{{> profileNav}}

	<section>
		<div class="container">
			<div class="row">

			</div>
		</div>
	</section>
</template>