<template name="create">
	<div class="panel panel-info">
		<div class="panel-heading"><strong>Create</strong></div>
		<div class="panel-body">	
			<form role="form" id="create-form">
				<div class="form-group {{errorClass 'name'}} has-feedback">
						<input class="form-control" type="text" name="name" placeholder="Nombre de usuario" maxlength="30">
						<i class="fa fa-user form-control-feedback"></i>
						<span class="help-block">{{errorMessage 'name'}}</span>
				</div>
				<div class="form-group {{errorClass 'birthday'}} has-feedback">
						<input class="form-control" type="text" name="birthday" placeholder="Fecha de nacamiento" maxlength="10">
						<i class="fa fa-calendar form-control-feedback"></i>
						<span class="help-block">{{errorMessage 'birthday'}}</span>
				</div>
				<div class="form-group {{errorClass 'address'}} has-feedback">
						<input class="form-control" type="text" name="address" placeholder="Dirección de delivery" maxlength="50">
						<i class="fa fa-location-arrow form-control-feedback"></i>
						<span class="help-block">{{errorMessage 'address'}}</span>
				</div>
				<div class="form-group {{errorClass 'phone'}} has-feedback">
						<input class="form-control" type="text" id="desc" name="phone" placeholder="Numero de telefono">
						<i class="fa fa-phone form-control-feedback"></i>
						<span class="help-block">{{errorMessage 'phone'}}</span>
				</div>

				<input type="submit" class="btn btn-info btn-block" value="Add Order">
    			
			</form>
		</div>
	</div>
</template>