<template name="dashboard">

	{{> profileNav}}

	<section class="profile-header" id="dashboard-header">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<h4>
						<i class="fa fa-user"></i> Bienvenidos {{username}}
					</h4>
					<p>Panel de creacion de manos</p>
				</div>
			</div>
		</div>
	</section>

	<div class="container">
		<div class="row">
			<div class="col-xs-12">
			{{#if orderCount}}

				{{#each orders}}
					<div class="panel panel-info link-to-info">
						{{> order}}
    				</div>
					<hr>
				{{/each}}

			{{else}}

				<div class="order">
					{{> dashboardHeader}}
				</div>

			{{/if}}
			</div>
		</div>
	</div>


	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<button type="button" id="link-to-create-hand" class="btn btn-success btn-block">
					<i class="fa fa-hand-paper-o"></i> Crear Mano
				</button>
			</div>
		</div>
	</div>
</template>

<template name="order">
	<div class="panel-heading">{{name}}</div>
	<div class="panel-body">

		<div class="progress">
			<div class="progress-bar progress-bar-success link-to-info link" style="width: 25%">
				<i class="fa fa-info"></i> <span class="hidden-xs">Order Info</span>
			</div>
			<div class="progress-bar link-to-photo link {{photoColor}}" style="width: 25%">
				<i class="fa fa-camera"></i> <span class="hidden-xs">Photo Upload</span>
			</div>
		{{#if reached_personalize}}
			<div class="progress-bar link-to-personalize link {{personalizeColor}}" style="width: 25%">
				<i class="fa fa-hand-peace-o"></i> <span class="hidden-xs">Personalize</span>
			</div>
		{{/if}}
		{{#if reached_checkout}}
			<div class="progress-bar link-to-checkout link {{checkoutColor}}" style="width: 25%">
				<i class="fa fa-check"></i> <span class="hidden-xs">Checkout</span>
			</div>
		{{/if}}
		</div>

	</div>
</template>

<template name="dashboardHeader">
	<p>Adquirir una Po es algo super sencillo, solo tenes que completar tus datos y seguir los pasos que aparecen en la pantalla.
	</p>
</template>