<template name="personalize">
	<section class="profile-header" id="personalize-header">
		<div class="container">
			<div class="row">
				<div class="col-xs-3">
					<i class="fa fa-hand-peace-o profile-header-icon"></i>
				</div>
				<div class="col-xs-9">
					<h1 class="paso-1-info">PASO 3</h1>
					<h2 class="datos-personalize">Personalize</h2>
				</div>
			</div>
		</div>
	</section>


	{{> profileNav}}

	<section>
		<div class="container">
			<div class="row">

			</div>
		</div>
	</section>
</template>
