<template name="personalize">
	{{> profileNav}}

	<section class="profile-header" id="personalize-header">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<h4>
						<i class="fa fa-hand-peace-o"></i> Personalize
					</h4>
					<p>Select colors for each part of your hand</p>
				</div>

			</div>
		</div>
	</section>

	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<button role="button" class="btn btn-info btn-block link-to-checkout">Continuar</button>
			</div>
		</div>
	</div>


</template>
