<template name="photo">
	<div class="panel-group" id="accordion">
		<div class="panel panel-info">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Paso 1</a>
				</h4>
				</div>
			<div id="collapse1" class="panel-collapse collapse in">
				<div class="panel-body">
					<p>Consigue un boligrafo, una regla y una camara.</p>
				</div>
			</div>
		</div>
		<div class="panel panel-info">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Paso 2</a>
				</h4>
				</div>
			<div id="collapse2" class="panel-collapse collapse">
				<div class="panel-body">
					<p>Traza una linea en tu munheca y otra en la mitad del antebrazo  de ambos lados. </p>
				</div>
			</div>
		</div>
		<div class="panel panel-info">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a data-toggle="collapse" data-parent="#accordion" href="#collapse3">Paso 3</a>
				</h4>
				</div>
			<div id="collapse3" class="panel-collapse collapse">
				<div class="panel-body">
					<p>Coloca la cinta metrica entre ambos brazos y toma una fotografia directamente desde arriba como te muestra el ejemplo.</p>
				</div>
			</div>
		</div>
		<div class="panel panel-info">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a data-toggle="collapse" data-parent="#accordion" href="#collapse4">Paso 4</a>
				</h4>
				</div>
			<div id="collapse4" class="panel-collapse collapse">
				<div class="panel-body">
					<div class="photo-upload-btn">
						<div class='upload-form'>
							<div class="fileUpload btn btn-danger btn-block">
							    <span>Subir Foto</span>
							    <input name="file" type="file" class="upload-field cloudinary-fileupload" id="upload-photo"/>
							</div>
						</div>
					</div>


					<div class="alert alert-warning {{hidden}}">
						<strong>Cargando!</strong> Espere un momento.
						<br>
						<div class="progress">
							<div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:2%"> %
							</div>
						</div>
					</div>


					<div id="photo-uploads">
						<span class="help-block">Click on the photo icon to see your photo</span>
						<div class="row">
							{{#each photos}}
							<div class="col-xs-6 col-sm-4 text-center">
								{{> photoHolder}}
								<br>
							</div>
							{{/each}}
						</div>
					</div>





				</div>
			</div>
		</div>
	</div>


	<div class="row">
		<div class="col-sm-12">
			{{#if photocount}}
				<button role="button" class="btn btn-info btn-block to-personalize-step">Continuar</button>
			{{else}}
				Upload photo to continue...
			{{/if}}
		</div>
	</div>


</template>

<template name="photoHolder">
	  <!-- Trigger the modal with a button -->
  <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#{{this._id}}-photo"><i class="fa fa-camera"></i></button>

  <!-- Modal -->
  <div class="modal fade" id="{{this._id}}-photo" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Foto</h4>
        </div>
        <div class="modal-body">
          <div id="{{this._id}}">
		  </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>

</template>
